@import "tailwindcss";

@theme {
  --color-darkly: #0F172A;
  --color-darklyLight: #283044;
  --color-greenly: #22C55E;
  --color-sageGreen: #bccbb9;
  --color-whitely: #E2E2E2;
  --color-bluely: #3B82F6;
}

body {
  background-color: #0F172A;
  color: #E2E2E2;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
